<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <h3>Favorite Comics</h3>
    <div *ngIf="checkComics()">
        <ion-item *ngFor="let comic of comics()">
            <ion-row>
                <ion-col text-center>
                    <h1 text-wrap>{{comic.title}}</h1>
                    <ion-thumbnail>
                        <img style="max-width: 100%; width: auto; height: auto;"
                             src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="">
                    </ion-thumbnail>
                    <div>
                        <button ion-button (click)="comicViewDetails(comic)">View</button>
                        <button ion-button (click)="removeComicToFavorites(comic)">Remove</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
    </div>
    <h3>Favorite Heroes</h3>
    <div *ngIf="checkHeroes()">
        <ion-item *ngFor="let heroe of heroes()">
            <ion-row>
                <ion-col text-center>
                    <h1>{{heroe.name}}</h1>
                    <ion-thumbnail>
                        <img style="max-width: 100%; width: auto; height: auto;"
                             src="{{heroe.thumbnail.path}}.{{heroe.thumbnail.extension}}" alt="">
                    </ion-thumbnail>
                    <div>
                        <button ion-button (click)="heroeViewDetails(heroe)">View</button>
                        <button ion-button (click)="removeHeroeToFavorites(heroe)">Remove</button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-item>
    </div>

</ion-content>
